*{
	font-family: Arial;
}

#logo{
	margin-left: 30px;
	overflow: hidden;
	height: 4em;
}

nav{
	background-color: black;
	color: white;
	width: 100%;
	height: 30px;
	padding: 0;
	text-align: center;
	padding: 1em;
}

nav a{
	color: white;
	font-family: Helvetica;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover{
	color: #d1de44;
}

footer{
	position: relative;
}

footer nav{
	padding: 2em;
	font-size: small;
}

#section1{
	background-color: silver;
	border-color: gray;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	height: 10%;
	position: relative;
}

#pic1{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	margin-top: 1.25%;
	margin-bottom: 1.25%;
}

#prev{
	width: 1.6em;
	height: 25%;
	background-color: gray;
	display: inline-block;
	float: left;
	position: absolute;
	top: 40%;
	left: 0;
}

#next{
	width: 1.6em;
	height: 25%;
	background-color: gray;
	display: inline-block;
	float: right;
	position: absolute;
	top: 40%;
	right: 0;
}

#content{
	position: relative;
	padding: 2% 4% 2em 4%;
}

.clear{
	overflow: auto;
}

#content section{
	display: inline-block;
	width: 30%;
}

#content #leftcolumn{
	float: left;
	margin-right: 4%;
}

#content #middlecolumn{
	margin-left: auto;
	margin-right: 2%;
}

#content img{
	padding: 0;
	margin: 0;
	width: 100%;
}

#sidebar{
	display: inline-block;
	background-color: #e6e6e6;
	float: right;
	width: 30%;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 2%;
	border-bottom: 8px solid gray;
}

#sidebar h1{
	text-align: center;
	padding: 0;
	margin: 0;
}

#lefttrapezoid{
	border-right: 2em solid transparent;
	border-bottom: 4em solid black;
	border-left: 0em solid transparent;
	height: 0;
	width: 11em;
	float: left;
	position: absolute;
	top: -50%;
	left: 0;
	color: black;
}

#righttrapezoid{
	border-right: 0em solid transparent;
	border-bottom: 4em solid black;
	border-left: 2em solid transparent;
	height: 0;
	width: 11em;
	float: right;
	position: absolute;
	top: -50%;
	right: 0;
	color: black;
}